$background-color: #282828;
$border-width: 10px;
$border-transparent-style: $border-width solid transparent;
$border-triangle-style: $border-width solid $background-color;

%tail-base {
    position: absolute;
    padding: 0;
    width: 0;
    height: 0;
    margin: 0 -50% 0 0;
    left: 50%;
    transform: translateX(-50%);
};

@mixin style-tail($tail-anchor, $tail-border) {
    @extend %tail-base;
    #{$tail-anchor}: (-$border-width);

    @if $tail-anchor == top or $tail-anchor == bottom {
        border-left: $border-transparent-style;
        border-right: $border-transparent-style;
        border-#{$tail-border}: $border-triangle-style;
    } @else if $tail-anchor == left or $tail-anchor == right {
        top: 50%;
        transform: translate(0, -50%);
        margin: 0;
        border-top: $border-transparent-style;
        border-bottom: $border-transparent-style;
        border-#{$tail-border}: $border-triangle-style;

        @if $tail-anchor == right {
            left: auto;
        }
    }
}

#google-it-highlighter-popover {
    position: absolute;
    z-index: 9998;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: $background-color;
    box-shadow: 0 0 4px 2px #000000;
    animation: google-it-highlighter-intro 0.3s;
    animation-fill-mode: forwards;

    > div.search-options-nq {
        position: relative;
        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;
        z-index: 9999;

        &-horizontal {
            @extend div.search-options-nq;
            flex-direction: column;
        }

        > img {
            box-sizing: border-box;
            width: 36px;
            height: 36px;
            margin: 0;
            padding: 5px;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.2);
            }
        }

        .tail {
            @include style-tail(bottom, top);

            &-top { @include style-tail(top, bottom); }
            &-left { @include style-tail(left, right); }
            &-right { @include style-tail(right, left); }
        }
    }
}

@keyframes google-it-highlighter-intro {
    0% {
        transform: translateY(-3em);
        opacity: 0;
    }
    80% {
        transform: translateY(.5em);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes google-it-highlighter-outro {
    0% {
        transform: translateY(0em);
    }
    80% {
        transform: translateY(.5em);
        opacity: 1;
    }
    100% {
        transform: translateY(-3em);
        opacity: 0;
    }
}